body {
    margin: 0;
    background-color: #1F2937;
}

#container_1{
    background-color: #6943FF;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

h1{
    color: white;
    margin: 30px 0;
    font-family: 'Inter', sans-serif;
}

#input_number{
    background:none;
    border: 3px solid #B295FF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    width: 190px;
    height: 140px;
}

button{
    font-family: 'Inter', sans-serif;
    width: 190px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin: 30px 0;
}

#container_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 1%;
}

.box{
    background-color: #273549;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100px;
}

.unit_header{
    color: #CCC1FF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

.unit_convert{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
}